@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* ================================== General styles ========================================== */
:root{
    --text-size: .9rem;
}
html{
  scroll-padding: 110px;
  scroll-behavior: smooth;
}
body {
  background-color: #0c0c0c;
  padding-top: 101px; 
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    word-wrap: break-word;
    text-overflow: clip;
    text-decoration: none;
    list-style: none;
}
p{
    text-align: justify;
    font-size: 20px;
}
i{
  font-size:13px;
}
a{
    text-decoration: none;
    color: inherit;
}
main a:is(:focus){outline: .5px solid #5c4a4a;}

:focus{
  outline: .5px solid white;
  outline-offset: 2px; 
}
:is(header,nav,a,li,ul,label){
  z-index: 12;
  outline: none;
}


::-webkit-scrollbar{
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-track{
  background: none; 
}
::-webkit-scrollbar-thumb{
  background: lightgrey;
  border-radius: 100vw; 
}
@supports (scrollbar-color: grey white){
  *{
    scrollbar-color: lightgrey none; 
    scrollbar-width: thin;
  }
}
/* ================================== Header styles ========================================== */

header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: #444343;
    color: white;
    letter-spacing: 3px;
    text-shadow: -1px 1px 5px #5c4a4a;
    font-size: 5vw;
    padding: 1.5rem .1rem;
}
header h1{    text-align: center;  }
/*==================== Nav button styles ===============================*/
header input{
  display: none;
}
header .nav-button {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  top:10px;
  right: 10px;
  background: none; 
  border: none; 
  transition: all 500ms ease;
}
.nav-button .btn-line {
  width: 30px;
  height: 3px;
  background: #ffffff;
  margin: 5px 0;
  display: block; 
  border-radius: 5px;
  transition: all 300ms ease;
}

#nav-button-check:checked + .nav-button .btn-line:nth-of-type(1) {
  transform: rotate(-40deg) translate(-5px, 6px);
}
#nav-button-check:checked + .nav-button .btn-line:nth-of-type(2) {
  opacity: 0;
}
#nav-button-check:checked + .nav-button .btn-line:nth-of-type(3) {
  transform: rotate(40deg) translate(-6px, -6px);
}
/*==================== Nav styles ===============================*/
#nav :is(a,label){
  color: white; 
  padding: 5px; 
  border-radius: 5px;
  margin: 2px;
  outline:none;
}
#nav{
  position:fixed;
  top: 101px;
  right:-5px;
  left:-5px;
  background: black;
  border-radius:0 0 1rem 1rem;
  line-height: 35px; 
  overflow: hidden;
  height: 0;
  padding: 0 1rem;
  transition: 300ms; 
}
/* Nav appear */
header:has(#nav-button-check:checked) #nav{
  height:300px;
  padding: 1rem; 
}

/* nested list */
#nav .inline-nav-ul{
  height: 0;
  font-size: 0;
  margin: 0 25px;
  overflow: hidden;

}
/* ================= All events ================================ */
#nav :is(a,label):is(:focus, :hover, :active){
  color: #944dff;
}
#nav [id="tool-check"]:checked + label + .inline-nav-ul {
  height: max-content;
}
/* =========================================================== */
/* ================================== Main styles ========================================== */
main label{
  color: #ffffff;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center; 
    row-gap: 2rem;
    padding: 25px;
}
main .about-article{
    width: min(98%,550px);
    height: max-content;
    padding: var(--text-size);
    background-color: #ece9e9;
    border-radius: var(--text-size);
    line-height: 25px 0;
}
main h3{
    margin: var(--text-size) 0;
    font-size: 30px;
    text-align: left;
}

main .codes-container{
    background-color: #ece9e9;
    display: grid;
    row-gap: 1rem;
    width: min(98%,550px);
    border-radius: var(--text-size);
    padding: var(--text-size);
}
main .code-heading{
   display: inline-block;
   margin: 3px 0;
}
/* this box class contains the code-box 
   container and code pre tag */
main .box{
    width: 100%;
    overflow: auto;
}

main .code-box{
    padding: 1.5rem .5rem 5px .5rem;
    margin: 5px 0;
    background-color: #e7e4e4;
    border-radius: 10px;
    height: auto;
    position: relative;
    overflow: auto;
}
main .code-box::after{
  content: "";
  position: absolute;
  top: 0;
  left:0;
  height: 2rem;
  width: 100%;
  background-color: rebeccapurple;
}
/* pre tag holds the code */
main pre{
    width: 100%;
    padding: 1rem 0;
    overflow: auto;
}


/* =================================== Copy styles ================================ */
main .copy {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    z-index: 5;
    color: white;
    background: transparent;
    cursor: pointer;
}

/* this class only works when clicked on.copy */
main .show-copied {
  animation: show 1s ease-in forwards 1;
}

@keyframes show {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
/* This tool tip will appear when 
   clicked on.copy*/
.copied {
  position: fixed;
  bottom: 40px;
  left: 30%;
  background: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  opacity: 0;
  transition: all 300ms ease-in;
}

/* ================================== Footer styles ========================================== */

footer{
    margin-top: 200px;
    background-color: #444343;
    padding: 1.5rem 1rem;
    color: white;
}
footer h2{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}
footer h3{
    font-size: 28px;
}
footer > *:not(h2){
    width: 350px;
    margin: var(--text-size);
    border-radius: var(--text-size);
    padding: var(--text-size);
}
footer > *{
    line-height:40px;
}
footer .about-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* =================================== Mobile styles ======================================*/
@media (max-width:600px){
    h3{
        font-size: 15px;
    }
    main  p,a,.codes-container h3{
        font-size: 5vw;
    }
    header .nav-button{
      top: 3px;
      right: 3px;
    }
    footer{
      padding: .5rem;
    }
    footer h2{
        font-size: 25px;
    }
    footer > *:not(h2){
        width: auto;
    }
}
/* ======================================== END ========================================== */
