@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

/* ================================== General styles ========================================== */

:root {
  /* Default styles*/
  --pc-font: 16px;
  --mobile-font: 14px;
  --default: .9rem;
  --default-width: min(98%,550px);
  /* varient 1 is for Header */
  --font-var1: 'Lato', sans-serif;
  
  /* variant 2 is for default text */
  --font-var2: sans-serif;
  
  /* Varient 3 is for sub headings */
  --font-var3: 'Roboto',sans-serif;
  --font-var3-size: clamp( 20px,  1.4vw , 24px); 
  
  --line-height: 25px; 
}

/* Updated font size for larger screens */
@media screen and (min-width: 768px) {
  :root {
    --pc-font: 18px;
    --mobile-font: 16px;
    --font-var3-size: clamp( 22px,  1.2vw , 26px); 
  }
}
html {
  scroll-padding: 110px;
  scroll-behavior: smooth;
}
/*===== converted all font size to clamp =========================*/

  body {
    /* background-color: #0c0c0c; */
    background-image: url(-\ 1bg-for-image-code.png);
    padding-top: 101px;
    font-size: clamp(var(--mobile-font), 1.2vw, var(--pc-font));

  }

/* ==================== Default styles ============================== */

*{   
    margin: 0;
    padding: 0;
    font-family: var(--font-var2);
    word-wrap: break-word;
    text-overflow: clip;
    text-decoration: none;
    list-style: none;
}
p{
    text-align: justify;
    line-height: var(--line-height);
}
a{
    text-decoration: none;
    color: inherit;
}

/* This is for all sub headings */
.sub-heading{
  margin: var(--default) 0;
  font-family: var(--font-var2);
  font-weight: bold; 
}



/* Default styles for focus and z-index */
:focus{
  outline: none;
}

:is(nav,a,li,ul,label){
  z-index: 12;
  outline: none;
}
/* ====================================== */

/* ================= Scroll bar styles ========================== */
::-webkit-scrollbar{
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-track{
  background: none; 
}
::-webkit-scrollbar-thumb{
  background: lightgrey;
  border-radius: 100vw; 
}
@supports (scrollbar-color: grey white){
  *{
    scrollbar-color: lightgrey none; 
    scrollbar-width: thin;
  }
}/*========================================================================================= */




        /* ================================== Header styles ========================================== */
        header{
          position: fixed;
          top:0;
          left:0;
          right:0;
          background-color: #444343;
          color: white;
          letter-spacing: 3px;
          text-shadow: -1px 1px 5px #5c4a4a;
          padding: 1.5rem 2rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          z-index: 20;
      }
      header h1{     
          text-align: left; 
          font-family: var(--font-var1);
      }
      header input{
          display: none;
      }
      header nav li, nav label{
          display: inline-block;
          margin-right: 1rem;
          cursor: pointer;
      }
      header nav a, nav label{
          padding: .5rem;
          transition: all 300ms linear;
      }
      header nav #main-nav-ul{
          display: flex;
      }
      header nav .parent-of-inline-ul{
          position: relative;
      }
      header nav .inline-nav-ul{
          position: absolute;
          top: 65px;
          left: 0px;
          display: inline-block;
          background-color: none;
          white-space: nowrap;
          opacity: 0;
      }
      .inline-nav-ul *{
          background-color: #444343;
      }
      #nav :where(a,label):where([active],:focus, :hover, :active){
          border-bottom:1px solid white ;
          background-color: #292727;
      }
       #nav ul:hover > li > a:not(:hover) {
         opacity: 0.8;
         border: none;
         background: none; 
       }
      #nav [id="tool-check"]:checked + label + .inline-nav-ul {
          opacity: 1;
      }

/* ================================== Main styles ========================================== */


main{
    display: flex;
    flex-direction: column;
    align-items: center; 
    row-gap: 2rem;
    padding: 25px;
}

main .about-article{
    width: var(--default-width) ;
    height: max-content;
    padding: var(--default);
    background-color: #ece9e9;
    border-radius: var(--default);
    line-height: 25px 0;
}


main .all-codes-container{
    background-color: #ece9e9;
    display: grid;
    row-gap: 1rem;
    width: var(--default-width) ;
    border-radius: var(--default);
    padding: var(--default);
}

/* Main headings */
main .main-heading{
   display: inline-block;
   margin: var(--default) 0;
   font-family: var(--font-var3);
   font-size: var(--font-var3-size);
}

/* this code-content-all class contains the 
   code-box container and code pre tag */
main .code-content-all{
    width: 100%;
    overflow: auto;
}

main .code-box{
    padding: 1rem .5rem 5px .5rem;
    margin: 5px 0;
    background-color: #e7e4e4;
    border-radius: 10px;
    height: auto;
    position: relative;
    overflow: auto;
}
main .code-box::after{
  content: "";
  position: absolute;
  top: 0;
  left:0;
  height: 1.5rem;
  width: 100%;
  background-color: rebeccapurple;
}
/* pre tag holds the text-code */
main .text-code{
    width: 100%;
    padding: 1rem 0;
    font-size: calc(var(--default) - .1rem) ;
    overflow: auto;
}


/* =================================== Copy styles ================================ */
main .copy {
    position: absolute;
    top: -2px;
    right: 0px;
    padding: 5px;
    z-index: 5;
    font-size: calc(var(--default) - .1rem);
    color: white;
    background: transparent;
    cursor: pointer;
}

/* this class only works when clicked on.copy */
main .show-copied {
  animation: show 1s ease-in forwards 1;
}

@keyframes show {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
/* This tool tip will appear when 
   clicked on.copy*/
.copied {
  position: fixed;
  bottom: 40px;
  left: 45%;
  background: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  opacity: 0;
  transition: all 300ms ease-in;
}

/* ================================== Footer styles ========================================== */

footer{
    margin-top: 200px;
    background-color: #444343;
    padding: 1.5rem 1rem;
    color: white;
}
footer .main-heading{
    text-align: center;
    text-decoration: underline;
}

footer > *:not(.main-heading){
    width: 350px;
    border-radius: var(--default);
    padding: var(--default);
    color: #e7e4e4;
}
footer .footer-about{
  line-height: var(--line-height); 
}
footer .about-tool-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height:var(--line-height);
}

/* =================================== Mobile styles ======================================*/
@media (max-width:768px){
    header {
      display: block;
      padding: 1.5rem .1rem;
    }
    header h1{
        text-align: center;
    }
    header .nav-button {
        display: inline-block;
        cursor: pointer;
        position: fixed; 
        top:10px;
        right: 10px;
        background: transparent; 
        border: none; 
        transition: all 500ms ease;
    }
    .nav-button .btn-line {
        width: 30px;
        height: 3px;
        background: #ffffff;
        margin: 5px 0;
        display: block; 
        border-radius: 5px;
        transition: all 300ms ease;
    }
    /* ==== hamburger menu animation ======== */
    #nav-button-check:checked + .nav-button .btn-line:nth-of-type(1) {
    transform: rotate(-40deg) translate(-5px, 6px);
    }
    #nav-button-check:checked + .nav-button .btn-line:nth-of-type(2) {
    opacity: 0;
    }
    #nav-button-check:checked + .nav-button .btn-line:nth-of-type(3) {
    transform: rotate(40deg) translate(-6px, -6px);
    }
    
    /*==================== Nav styles ===============================*/
    #nav li, #nav label{
        display: block;
        margin-right: 0rem;
        cursor: pointer;
        background: transparent;
        border: transparent;
    }

    #nav :is(a,label){
        display: block;
        color: white; 
        font-weight: bold; 
        padding: 0px; 
        margin: 3px;
        outline:none;
        background: transparent;
    }

    #nav{
        position:fixed;
        top: 81.5px;
        right:-5px;
        left:-5px;
        background: black;
        border-radius:0 0 1rem 1rem;
        line-height: 35px; 
        overflow: hidden;
        height: 0;
        padding: 0 1rem;
        transition: 300ms; 
        text-align: left;
    }
    #nav .inline-nav-ul{
        position: relative;
        top: 0;
        left: 0;
        display: none;
        background: transparent;
        border: none;
        margin: 3px 25px;
        overflow: hidden;
    }
    /* ================= events of nav bar ================================ */
    #nav :is(a,label):is([active]:focus, :hover, :active){
        color: #944dff;
        background: transparent;
        border-bottom: none;
    }
  #nav  ul:hover > li > a:not(:hover){
    opacity: 0.8;
    border: none;
    background: none;
  }
    #nav [id="tool-check"]:checked + label + .inline-nav-ul {
        display: block;
    }
    /* =========================================================== */
    
    main .copied{
        left: 30%;
    }
        
    footer{
      padding: .5rem;
    }
    footer > *:not(.main-heading){
        width: auto;
    }
}
/* ======================================== END ========================================== */
